
    <div class="row">
      
      <div class="col-4">
        <div class="card border-light mb-3 fonteTexto" style="max-width: 100%; height: 100%; background-color: #161717;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cara ou Coroa</h5>
            <p class="card-text tamanhoTexto">Aplicaçao Mobile utilizando C# e .NetMaui desenvolvida como atividade no curso técnico de ADS na Etec Horácio.</p>
            <a href="https://github.com/VRestini/pam2-jokenpo" class="btn btn-primary">
              <i class="bi bi-github"> Ver repositório</i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card border-light mb-3 fonteTexto" style="max-width: 100%; height: 100%; background-color: #161717;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jogo Pong</h5>
            <p class="card-text">Jogo Pong desenvolvido com Java para apresentação na 34° Feira Industrial da Etec Horácio.</p>
            <a href="https://github.com/VRestini/pong" class="btn btn-primary">
              <i class="bi bi-github"> Ver repositório</i>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-4">
        <div class="card border-light mb-3 fonteTexto" style="max-width: 100%; height: 100%; background-color: #161717;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Biscoito da sorte</h5>
            <p class="card-text">Aplicação Web desenvolvida com Angular como atividade avaliatiava no curso ADS da Etec Horácio.</p>
            <a href="https://github.com/VRestini/pw3-angular-biscoito" class="btn btn-primary">
              <i class="bi bi-github"> Ver repositório</i>
            </a>
            
          </div>
        </div>
      </div>
      
    </div><br>

    <div class="row">
      
      <div class="col-4">
        <div class="card border-light mb-3 fonteTexto" style="max-width: 100%; height: 100%; background-color: #161717;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Formulário</h5>
            <p class="card-text tamanhoTexto">Aplicaçao Web utilizando Angular, desenvolvida como atividade no curso técnico de ADS na Etec Horácio.</p>
            <a href="https://github.com/VRestini/pw3-forms" class="btn btn-primary">
              <i class="bi bi-github"> Ver repositório</i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4">
        
      </div>
      
      <div class="col-4">
        
      </div>
      
    </div><br>
    

   
      
 