<div class="container" style="margin-top: 1.5%;">
    
    <div class="row justify-content-center">
        <div class="col-2"></div>
        

        <div class="col-8 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="background-color:#161717;">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active fonteTexto" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fonteTexto" routerLink="/projetos">Projetos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fonteTexto" routerLink="/qualificacoes">Qualificações</a>
                </li>
                
              </ul> 
            <img src="../../assets/imgTwo.jpg" class="img-fluid " alt="..." style="width: 100%; height: 30%;">
            <div class="row justify-content-center">
                <div class="col-2"></div>
                <div class="col-3">
                    <img src="../../assets/vitor.jfif" class="img-thumbnail" alt="..." style="border-radius: 100%; margin-top: -35%; border: 10px; border-color: aliceblue;">
                </div>
                <div class="col-7"></div>
            </div>
            <div class="row justify-content-start">
                <div class="col-2"></div>
                <div class="col-8">
                    <h1 class="fonteTexto">Vitor Restini</h1>
                    <h5 class="fonteTexto">Olá, me chamo Vitor, tenho 17 anos e sou um amante da área de tecnologia. Gosto muito de programar em Java e pretendo me tornar um Dev-Beck. Atualmente faço o curso de Análise e Desenvolvimento de Sistemas integrado ao ensino médio na Etec Horácio e também estudo por fora.</h5>
                    <a class="navbar-brand" href="https://github.com/VRestini">
                      <i class="bi bi-linkedin fonteTexto" style="font-size: 40px;" href="https://www.linkedin.com/in/vitor-librelon-4b497624a/"></i>
                    </a>
                    <a class="navbar-brand" href="https://www.linkedin.com/in/vitor-librelon-4b497624a/">
                      <i class="bi bi-github fonteTexto" style="font-size: 40px; margin-right: 5%;"></i>
                    </a>
                 
                </div>
                <div class="col-2"></div>
            </div>
            
        </div>        
        
        <div class="col-2"><br></div>
    </div>
    
</div>
