<div class="row">

    <div class="col-0"></div>
    
    <div class="col-12">
      <div class="card border-light mb-3 fonteTexto text-center" style="max-width: 100%; background-color: #161717; height: 9rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/java.png" class="img-fluid center" alt="..." style="padding: 5%; height: 60%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Java</h5>
              <p class="card-text tamanhoTexto">A linguagem que mais me sinto confortável de utilizar, obtive conhecimento teórico e prático de Java através das aulas ministradas pelos meus excelentíssimo professores Rogério e Marion do curso técnico Análise e Desenvolvimento de Sistemas na Etec Horácio e com estudos pessoais.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0"></div>

  </div>
  <div class="row">

    <div class="col-0"></div>
    
    <div class="col-12">
      <div class="card border-light mb-3 fonteTexto text-center" style="max-width: 100%; background-color: #161717; height: 9rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/html-5.png" class="img-fluid center" alt="..." style="padding: 5%; height: 60%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Html</h5>
              <p class="card-text tamanhoTexto">Com as aulas ministradas pelos meus professores do curso técnico Análise e Desenvolvimento de Sistemas na Etec Horácio obtive conhecimento da linguagem de marcação Html.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0"></div>

  </div>
  <div class="row">

    <div class="col-0"></div>
    
    <div class="col-12">
      <div class="card border-light mb-3 fonteTexto text-center" style="max-width: 100%; background-color: #161717; height: 9rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/css-3.png" class="img-fluid center" alt="..." style="padding: 5%; height: 60%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Css</h5>
              <p class="card-text tamanhoTexto">Assim como Html, possuo conhecimento teórico e prático da linguagem de cascata Css, através das aulas do curso técnico Análise e Desenvolvimento de Sistemas na Etec Horácio e com estudos pessoais.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0"></div>

  </div>
  <div class="row">

    <div class="col-0"></div>
    
    <div class="col-12">
      <div class="card border-light mb-3 fonteTexto text-center" style="max-width: 100%; background-color: #161717; height: 9rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/mysql.png" class="img-fluid center" alt="..." style="padding: 5%; height: 60%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sql</h5>
              <p class="card-text tamanhoTexto">Antes de tudo gostaria de agradecer a minha professora Marion, da Etec Horácio. Graças a ela fui capaz de ter conhecimento teórico e suficiente da linguagem para gerenciamento de banco de dados: sql.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0"></div>

  </div>
  <div class="row">

    <div class="col-0"></div>
    
    <div class="col-12">
      <div class="card border-light mb-3 fonteTexto text-center" style="max-width: 100%; background-color: #161717; height: 9rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/netMaui.png" class="img-fluid center" alt="..." style="padding: 5%; height: 60%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">.NetMaui</h5>
              <p class="card-text tamanhoTexto">Dedico meus conhecimentos da Framework .NetMaui a meus professores Guilherme e Marion, e também aos meus estudos pessoais. Através destes estudos obtive conhecimento prático e teórico do .NetMaui.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0"></div>

  </div>
  <div class="row">

    <div class="col-0"></div>
    
    <div class="col-12">
      <div class="card border-light mb-3 fonteTexto text-center" style="max-width: 100%; background-color: #161717; height: 9rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/python.png" class="img-fluid center" alt="..." style="padding: 5%; height: 60%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text tamanhoTexto">Com as aulas ministradas pelos meus professores do curso técnico Análise e Desenvolvimento de Sistemas na Etec Horácio e com estudos pessoais, obtive conhecimento da linguagem de programação Python.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0"></div>

  </div>
  <div class="row">

    <div class="col-0"></div>
    
    <div class="col-12">
      <div class="card border-light mb-3 fonteTexto text-center" style="max-width: 100%; background-color: #161717; height: 9rem;">
        <div class="row g-0">   
          <div class="col-md-4">
            <img src="../../assets/angular_logo_icon_169595.png" class="img-fluid center" alt="..." style="padding: 5%; height: 60%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text tamanhoTexto">Framework o qual utilizei para desenvolver esta aplicação web, obtive conhecimento teórico e prático de Angular através de meus professores Rogério e Marion da Etec Horácio.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0"></div>

  </div>
  <div class="row">

    <div class="col-0"></div>
    
    <div class="col-12">
      <div class="card border-light mb-3 fonteTexto text-center" style="max-width: 100%; background-color: #161717; height: 9rem;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/c-.png" class="img-fluid center" alt="..." style="padding: 5%; height: 60%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">C#</h5>
              <p class="card-text tamanhoTexto">Para desenvolvimento Mobile juntamente do Framework .NetMaui, obtive conhecimento da linguagem de programação C Sharp através das aulas de meus professores Guilherme e Marion, e de meus estudos pessoais.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0"></div>

  </div>